.tm-sc-blog article .box-hover-effect {
  display: block;
}
.tm-sc-blog article .post-thumb .post-thumb-inner .thumb {
  display: flex;
  overflow: hidden;
  position: relative;
}
.tm-sc-blog article .post-thumb .post-thumb-inner .thumb img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}
.tm-sc-blog article .post-thumb .post-thumb-inner .thumb .icon-link {
  background: #2d1212;
  color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 0.45s;
  width: 32px;
  height: 32px;
  line-height: 33px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 99;
  text-align: center;
  margin-top: 45px;
}
.tm-sc-blog article .entry-content > :nth-last-child {
  margin-bottom: 0;
}

.blog-item-current-style3 {
  position: relative;
  transition: all 300ms ease;
  border-bottom: 3px solid #f3f4f7;
}
[data-tm-layout=dark] .blog-item-current-style3 {
  border-bottom-color: #1d1d1d;
}
.blog-item-current-style3:hover .entry-header {
  transition: all 300ms ease;
}
.blog-item-current-style3:hover .entry-header .thumb {
  position: relative;
  overflow: hidden;
}
.blog-item-current-style3:hover .entry-header .thumb .post-thumb:first-child {
  transform: translatex(0) scalex(1);
  opacity: 1;
  filter: blur(0);
}
.blog-item-current-style3:hover .entry-header .thumb .post-thumb:nth-child(2) {
  transform: translatex(-50%) scalex(2);
  opacity: 0;
  filter: blur(10px);
}
.blog-item-current-style3 .entry-header {
  position: relative;
}
.blog-item-current-style3 .entry-header .post-thumb-inner {
  position: relative;
}
.blog-item-current-style3 .entry-header .thumb {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  height: 280px;
}
.blog-item-current-style3 .entry-header .thumb .post-thumb {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  transition: all 500ms ease;
}
.blog-item-current-style3 .entry-header .thumb .post-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-item-current-style3 .entry-header .thumb .post-thumb:first-child {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  transform: translatex(50%) scalex(2);
  opacity: 0;
  filter: blur(10px);
}
.blog-item-current-style3 .entry-header .post-single-meta {
  position: absolute;
  left: 30px;
  bottom: 0;
  z-index: 1;
  text-align: center;
  line-height: 1;
  padding: 12px;
  background-color: var(--theme-color1);
}
.blog-item-current-style3 .entry-header .post-single-meta span {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--theme-color1-text-color);
}
.blog-item-current-style3 .entry-header .post-single-meta span.day {
  font-size: 30px;
  font-weight: 500;
  color: var(--theme-color1-text-color);
  font-family: var(--heading-font-family);
  display: block;
  margin-bottom: 3px;
  line-height: 1;
  padding: 0 10px;
}
.blog-item-current-style3 .entry-header .post-single-meta span.year {
  display: none;
}
.blog-item-current-style3 .entry-content {
  position: relative;
  padding: 0 28px 20px;
  z-index: 1;
  transition: all 300ms ease;
}
.blog-item-current-style3 .entry-meta {
  position: relative;
  text-transform: capitalize !important;
  margin-bottom: 15px !important;
  background-color: #f3f4f7;
  padding: 5px 12px;
}
[data-tm-layout=dark] .blog-item-current-style3 .entry-meta {
  background-color: #1d1d1d;
}
.blog-item-current-style3 .entry-meta li {
  position: relative;
  font-size: 14px;
}
.blog-item-current-style3 .entry-meta li i {
  margin-right: 5px;
  color: var(--theme-color1);
  font-size: 14px;
}
.blog-item-current-style3 .entry-title {
  margin-top: 0;
  margin-bottom: 10px;
}
.blog-item-current-style3 .entry-title a:hover {
  color: var(--theme-color1);
}
.blog-item-current-style3 .mascot-post-excerpt {
  margin-top: 15px;
}
[data-tm-layout=dark] .blog-item-current-style3 .btn-plain-text-with-arrow-right {
  color: #fff;
}
.blog-item-current-style3 .btn-plain-text-with-arrow:before {
  color: var(--headings-color);
}
[data-tm-layout=dark] .blog-item-current-style3 .btn-plain-text-with-arrow {
  color: #aaa;
}
.blog-item-current-style3 .btn-plain-text-with-arrow:after {
  font-size: 14px;
}
.blog-item-current-style3 .btn-plain-text-with-arrow:hover {
  color: var(--theme-color1);
}
.blog-item-current-style3 .btn-plain-text-with-arrow:hover:after {
  color: var(--theme-color1);
}

.tm-sc-blog-carousel .swiper-slide .blog-item-current-style3 {
  box-shadow: none;
}
.tm-sc-blog-carousel .swiper-slide .blog-item-current-style3 .entry-content {
  border: 1px solid #f3f4f7;
}
[data-tm-layout=dark] .tm-sc-blog-carousel .swiper-slide .blog-item-current-style3 .entry-content {
  border-color: #1d1d1d;
}