.tm-sc-service .icon {
  display: inline-block;
}
.tm-sc-service .icon,
.tm-sc-service .feature-title,
.tm-sc-service .feature-details {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.service-block-style13 {
  position: relative;
  margin-bottom: 30px;
}
.service-block-style13:last-child::after {
  content: "";
  position: absolute;
  top: -125px;
  right: -100px;
  width: 106px;
  height: 124px;
  background-image: url(../images/resource/zigzag.png);
}
@media (max-width: 991.98px) {
  .service-block-style13:last-child::after {
    display: none;
  }
}
.service-block-style13 .inner-box {
  position: relative;
  transition: all 0.3s ease;
  height: 100%;
  z-index: 9;
}
.service-block-style13 .inner-box .content-box {
  padding: 21px 40px 30px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
@media (max-width: 575.98px) {
  .service-block-style13 .inner-box .content-box {
    padding: 21px 30px 30px;
  }
}
.service-block-style13 .inner-box .content-box .service-title {
  margin-bottom: 11px;
}
.service-block-style13 .inner-box .content-box .service-details {
  line-height: 30px;
  margin-bottom: 28px;
}
.service-block-style13 .inner-box .content-box .arry-btn,
.service-block-style13 .inner-box .content-box .btn-plain-text-with-arrow-right {
  color: #73787d;
  text-transform: capitalize;
  font-weight: 600;
  background-color: #ecf0f4;
  width: 100%;
  height: 51px;
  line-height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: relative;
  z-index: 99;
  transition: all 0.3s ease;
}
.service-block-style13 .inner-box .content-box .arry-btn:hover,
.service-block-style13 .inner-box .content-box .btn-plain-text-with-arrow-right:hover {
  color: #fff !important;
}
.service-block-style13 .inner-box .content-box .arry-btn:hover,
.service-block-style13 .inner-box .content-box .btn-plain-text-with-arrow-right:hover {
  background-color: var(--theme-color1);
  color: #fff;
  transition: all 0.3s ease;
}
.service-block-style13 .inner-box .content-box .arry-btn:hover::after,
.service-block-style13 .inner-box .content-box .btn-plain-text-with-arrow-right:hover::after {
  color: #fff !important;
}
.service-block-style13 .inner-box .image-box {
  position: relative;
  overflow: hidden;
  max-height: 300px;
}
.service-block-style13 .inner-box .image-box .image {
  overflow: hidden;
  width: 100%;
  height: 300px;
}
.service-block-style13 .inner-box .image-box .image:before {
  background: rgba(255, 255, 255, 0.3);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  opacity: 1;
  z-index: 9;
  pointer-events: none;
}
.service-block-style13 .inner-box .image-box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.service-block-style13 .inner-box .image-box .service-featured-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.service-block-style13 .inner-box .image-box .service-icon {
  background-color: var(--theme-color1);
  bottom: 0;
  width: 97px;
  height: 85px;
  left: 40px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-block-style13 .inner-box .image-box .service-icon i {
  font-size: 56px;
  line-height: 85px;
  color: var(--theme-color1-text-color);
  transition: all 700ms ease;
}
.service-block-style13 .inner-box:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 147px;
  height: 228px;
  background-image: url(../images/resource/pattern2.png);
}
.service-block-style13 .inner-box:hover:after {
  transition: all 0.5s ease;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.service-block-style13 .inner-box:hover .image-box .image:before {
  height: 100%;
  opacity: 0;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}
.service-block-style13 .inner-box:hover .image-box .image img {
  transform: scale(1.1);
}
.service-block-style13 .inner-box:hover .image-box .service-icon {
  background-color: var(--theme-color2);
  color: #fff;
}
.service-block-style13 .inner-box:hover .image-box .service-icon i {
  transform: translate(0%, 0%) rotateY(360deg);
}