/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */
:root {
  --theme-color1: #ffaa17;
  --theme-color1-rgb: 255, 170, 23;
  --theme-color1-lighter: #ffbf4f;
  --theme-color1-darker: #de8d00;
  --theme-color2: #222429;
  --theme-color2-rgb: 34, 36, 41;
  --theme-color2-lighter: #3b3f48;
  --theme-color2-darker: #09090a;
  --theme-color3: #6a6f78;
  --theme-color3-rgb: 106, 111, 120;
  --theme-color3-lighter: #868b94;
  --theme-color3-darker: #50535a;
  --theme-color4: #87c03d;
  --theme-color4-rgb: 135, 192, 61;
  --theme-color4-lighter: #a1cf67;
  --theme-color4-darker: #69952f;
  --gradient-1: linear-gradient(to right, rgba(var(--theme-color1-rgb), 1) 0%, rgba(var(--theme-color1-rgb), 0.37) 100%);
  --gradient-2: linear-gradient(to left, rgba(var(--theme-color1-rgb), 1) 0%, rgba(var(--theme-color1-rgb), 0.7) 100%);
  --gradient-3: linear-gradient(180deg, var(--theme-color1) 0%, rgba(0, 0, 0, 0) 100%);
  --gradient-4: linear-gradient(180deg, rgba(217, 244, 95, 0) 0%, rgba(217, 244, 95, 0.5) 100%);
  --gradient-5: linear-gradient(180deg, var(--theme-color1) 0%, rgba(126, 142, 55, 0) 100%);
  --gradient-6: linear-gradient(180deg, #0a0a0a 0%, rgba(10, 10, 10, 0.3) 45%, #0a0a0a 90%);
  --gradient-7: linear-gradient(180deg, rgba(217, 244, 95, 0.7) 37.5%, rgba(255, 212, 212, 0) 100%);
  --theme-color1-text-color: #13132e;
  --theme-color2-text-color: #fff;
  --theme-color3-text-color: #fff;
  --theme-color4-text-color: #fff;
  --hover-theme-color: #ffaa17;
  --footer-default-theme-color: var(--theme-color1);
  --footer-default-hover-theme-color: var(--theme-color1);
  --footer-default-text-color-on-bg-theme-color: var(--theme-color1-text-color);
}

/*
 * border: theme-color
 * -----------------------------------------------
*/
.widget .line-bottom:after,
.widget .line-bottom:after,
.pager.theme-colored a {
  border: 1px solid var(--theme-color1);
}

.hr-divider {
  border-top-color: rgba(255, 170, 23, 0.2) !important;
}

/* -------- Text Theme Color ---------- */
.text-theme-colored1 {
  color: var(--theme-color1) !important;
}

.text-theme-colored2 {
  color: var(--theme-color2) !important;
}

.text-theme-colored3 {
  color: var(--theme-color3) !important;
}

.text-theme-colored4 {
  color: var(--theme-color4) !important;
}

.bg-theme-colored1 {
  background-color: var(--theme-color1) !important;
}

.bg-theme-colored2 {
  background-color: var(--theme-color2) !important;
}

.bg-theme-colored3 {
  background-color: var(--theme-color3) !important;
}

.bg-theme-colored4 {
  background-color: var(--theme-color4) !important;
}

.border-theme-colored1 {
  border-color: var(--theme-color1) !important;
}

.border-theme-colored2 {
  border-color: var(--theme-color2) !important;
}

.border-theme-colored3 {
  border-color: var(--theme-color3) !important;
}

.border-theme-colored4 {
  border-color: var(--theme-color4) !important;
}

/*
 * blog-single.scss
 * -----------------------------------------------
*/
/*
 * Shortcode: blog.scss
 * -----------------------------------------------
*/
.tm-sc-blog.blog-classic article .entry-header .post-single-meta {
  background: var(--theme-color1);
}
.tm-sc-blog.blog-modern article .entry-header .post-single-meta {
  background: var(--theme-color1);
}
.tm-sc-blog.blog-modern article .entry-content .post-btn-readmore {
  border-color: var(--theme-color1);
  background-color: #fff;
}
.tm-sc-blog.blog-modern article:hover .entry-content .post-btn-readmore {
  background-color: var(--theme-color1);
}
.tm-sc-blog.blog-modern article:hover .entry-content .post-btn-readmore .btn-plain-text-with-arrow:after {
  color: #fff;
}
.tm-sc-blog.blog-alternative-design .isotope-layout-inner .isotope-item:not(.isotope-item-sizer):nth-child(8n+1) article .post-thumb .post-thumb-inner .thumb:after, .tm-sc-blog.blog-alternative-design .isotope-layout-inner .isotope-item:not(.isotope-item-sizer):nth-child(8n+3) article .post-thumb .post-thumb-inner .thumb:after, .tm-sc-blog.blog-alternative-design .isotope-layout-inner .isotope-item:not(.isotope-item-sizer):nth-child(8n+6) article .post-thumb .post-thumb-inner .thumb:after, .tm-sc-blog.blog-alternative-design .isotope-layout-inner .isotope-item:not(.isotope-item-sizer):nth-child(8n+8) article .post-thumb .post-thumb-inner .thumb:after {
  background-color: rgba(255, 170, 23, 0.94);
}

/*
 * Shortcode: buttons.scss
 * -----------------------------------------------
*/
.btn-theme-colored1 {
  --bs-btn-color: #000;
  --bs-btn-bg: #ffaa17;
  --bs-btn-border-color: #ffaa17;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #ffb73a;
  --bs-btn-hover-border-color: #ffb32e;
  --bs-btn-focus-shadow-rgb: 217, 145, 20;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ffbb45;
  --bs-btn-active-border-color: #ffb32e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #ffaa17;
  --bs-btn-disabled-border-color: #ffaa17;
}

.btn-theme-colored2 {
  --bs-btn-color: #fff;
  --bs-btn-bg: #222429;
  --bs-btn-border-color: #222429;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1d1f23;
  --bs-btn-hover-border-color: #1b1d21;
  --bs-btn-focus-shadow-rgb: 67, 69, 73;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1b1d21;
  --bs-btn-active-border-color: #1a1b1f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #222429;
  --bs-btn-disabled-border-color: #222429;
}

.btn-theme-colored3 {
  --bs-btn-color: #fff;
  --bs-btn-bg: #6a6f78;
  --bs-btn-border-color: #6a6f78;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5a5e66;
  --bs-btn-hover-border-color: #555960;
  --bs-btn-focus-shadow-rgb: 128, 133, 140;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #555960;
  --bs-btn-active-border-color: #50535a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6a6f78;
  --bs-btn-disabled-border-color: #6a6f78;
}

.btn-theme-colored4 {
  --bs-btn-color: #000;
  --bs-btn-bg: #87c03d;
  --bs-btn-border-color: #87c03d;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #99c95a;
  --bs-btn-hover-border-color: #93c650;
  --bs-btn-focus-shadow-rgb: 115, 163, 52;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #9fcd64;
  --bs-btn-active-border-color: #93c650;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #87c03d;
  --bs-btn-disabled-border-color: #87c03d;
}

.btn-outline-theme-colored1 {
  --bs-btn-color: #ffaa17;
  --bs-btn-border-color: #ffaa17;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #ffaa17;
  --bs-btn-hover-border-color: #ffaa17;
  --bs-btn-focus-shadow-rgb: 255, 170, 23;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ffaa17;
  --bs-btn-active-border-color: #ffaa17;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ffaa17;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffaa17;
  --bs-gradient: none;
}

.btn-outline-theme-colored2 {
  --bs-btn-color: #222429;
  --bs-btn-border-color: #222429;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #222429;
  --bs-btn-hover-border-color: #222429;
  --bs-btn-focus-shadow-rgb: 34, 36, 41;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #222429;
  --bs-btn-active-border-color: #222429;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #222429;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #222429;
  --bs-gradient: none;
}

.btn-outline-theme-colored3 {
  --bs-btn-color: #6a6f78;
  --bs-btn-border-color: #6a6f78;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6a6f78;
  --bs-btn-hover-border-color: #6a6f78;
  --bs-btn-focus-shadow-rgb: 106, 111, 120;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6a6f78;
  --bs-btn-active-border-color: #6a6f78;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6a6f78;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6a6f78;
  --bs-gradient: none;
}

.btn-outline-theme-colored4 {
  --bs-btn-color: #87c03d;
  --bs-btn-border-color: #87c03d;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #87c03d;
  --bs-btn-hover-border-color: #87c03d;
  --bs-btn-focus-shadow-rgb: 135, 192, 61;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #87c03d;
  --bs-btn-active-border-color: #87c03d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #87c03d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #87c03d;
  --bs-gradient: none;
}

.btn-theme-colored1 {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color1);
  border-color: var(--theme-color1);
}
.btn-theme-colored1:hover, .btn-theme-colored1:focus {
  color: var(--theme-color2-text-color);
  background-color: var(--theme-color1);
  border-color: var(--theme-color1);
}
.btn-theme-colored1:before {
  background-color: var(--theme-color2);
}

.btn-theme-colored2 {
  color: var(--theme-color2-text-color);
  background-color: var(--theme-color2);
  border-color: var(--theme-color2);
}
.btn-theme-colored2:hover, .btn-theme-colored2:focus {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color2);
  border-color: var(--theme-color2);
}
.btn-theme-colored2:before {
  background-color: var(--theme-color1);
}

.btn-theme-colored3 {
  color: var(--theme-color3-text-color);
  background-color: var(--theme-color3);
  border-color: var(--theme-color3);
}
.btn-theme-colored3:hover, .btn-theme-colored3:focus {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color3);
  border-color: var(--theme-color3);
}

.btn-theme-colored4 {
  color: var(--theme-color4-text-color);
  background-color: var(--theme-color4);
  border-color: var(--theme-color4);
}
.btn-theme-colored4:hover, .btn-theme-colored4:focus {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color4);
  border-color: var(--theme-color4);
}

.btn-theme-colored3:before,
.btn-theme-colored4:before,
.btn-outline-theme-colored3:before,
.btn-outline-theme-colored3:before {
  background: var(--theme-color1);
}

.btn-outline-theme-colored1 {
  color: var(--theme-color1);
  border-color: var(--theme-color1);
}
.btn-outline-theme-colored1:hover {
  border-color: var(--theme-color3) !important;
  color: #fff !important;
}

.btn-outline-theme-colored2 {
  color: var(--theme-color2);
  border-color: var(--theme-color2);
}
.btn-outline-theme-colored2:hover {
  border-color: var(--theme-color3) !important;
  color: #fff !important;
}

.btn-outline-theme-colored3 {
  color: var(--theme-color3);
  border-color: var(--theme-color3);
}
.btn-outline-theme-colored3:hover {
  border-color: var(--theme-color3) !important;
  color: #fff !important;
}

input[type=submit].btn-theme-colored1:hover, input[type=submit].btn-theme-colored1:focus {
  color: var(--theme-color2-text-color);
  background-color: var(--theme-color2);
}

input[type=submit].btn-theme-colored2:hover, input[type=submit].btn-theme-colored2:focus {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color1);
}

input[type=submit].btn-theme-colored3:hover, input[type=submit].btn-theme-colored3:focus {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color1);
}

input[type=submit].btn-theme-colored4:hover, input[type=submit].btn-theme-colored4:focus {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color1);
}

.btn-light:before,
.btn-dark:before {
  background-color: rgba(var(--theme-color2-rgb), 0.2);
}
.btn-light:hover, .btn-light:focus,
.btn-dark:hover,
.btn-dark:focus {
  color: var(--theme-color2-text-color);
}
.btn-light:hover:before, .btn-light:focus:before,
.btn-dark:hover:before,
.btn-dark:focus:before {
  background-color: var(--theme-color2);
}

.btn-outline-light {
  color: #fff;
}

.btn-outline-light:hover,
.btn-outline-dark:hover {
  background-color: transparent;
}
.btn-outline-light:before,
.btn-outline-dark:before {
  background-color: rgba(var(--theme-color2-rgb), 0.2);
}
.btn-outline-light:hover, .btn-outline-light:focus,
.btn-outline-dark:hover,
.btn-outline-dark:focus {
  color: var(--theme-color2-text-color);
}
.btn-outline-light:hover:before, .btn-outline-light:focus:before,
.btn-outline-dark:hover:before,
.btn-outline-dark:focus:before {
  background-color: var(--theme-color2);
}

/*
 * shop.scss
 * -----------------------------------------------
*/
/*
 * shop-common
 * -----------------------------------------------
*/
.woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]),
.woosc_table .button,
.woosc_table .added_to_cart,
.woosw-item .added_to_cart {
  --bs-btn-color: #000;
  --bs-btn-bg: #ffaa17;
  --bs-btn-border-color: #ffaa17;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #ffb73a;
  --bs-btn-hover-border-color: #ffb32e;
  --bs-btn-focus-shadow-rgb: 217, 145, 20;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ffbb45;
  --bs-btn-active-border-color: #ffb32e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #ffaa17;
  --bs-btn-disabled-border-color: #ffaa17;
  color: var(--theme-color1-text-color);
}
.woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]):hover,
.woosc_table .button:hover,
.woosc_table .added_to_cart:hover,
.woosw-item .added_to_cart:hover {
  color: var(--theme-color3-text-color);
}
.woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]):focus,
.woosc_table .button:focus,
.woosc_table .added_to_cart:focus,
.woosw-item .added_to_cart:focus {
  color: var(--theme-color3-text-color);
  box-shadow: none;
}
.woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]):disabled, .woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]).disabled,
.woosc_table .button:disabled,
.woosc_table .button.disabled,
.woosc_table .added_to_cart:disabled,
.woosc_table .added_to_cart.disabled,
.woosw-item .added_to_cart:disabled,
.woosw-item .added_to_cart.disabled {
  color: var(--theme-color3-text-color);
  opacity: 0.5;
}
.woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]):disabled:hover, .woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]).disabled:hover,
.woosc_table .button:disabled:hover,
.woosc_table .button.disabled:hover,
.woosc_table .added_to_cart:disabled:hover,
.woosc_table .added_to_cart.disabled:hover,
.woosw-item .added_to_cart:disabled:hover,
.woosw-item .added_to_cart.disabled:hover {
  color: var(--theme-color3-text-color);
}

/*
 *  common.scss
 * -----------------------------------------------
*/
.scroll-to-top a {
  background-image: linear-gradient(to right, #ffaa17 0%, #ffc35c 51%, #ffaa17 100%);
}
.scroll-to-top a:hover {
  box-shadow: 0 10px 20px rgba(255, 170, 23, 0.5);
  background-position: right center;
}