.theme-btn {
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  transition: all 300ms ease;
}
.theme-btn .btn-title {
  position: relative;
  display: flex;
  align-items: center;
}

/*Btn Style 5*/
.btn-style5 {
  align-items: center;
  background-color: var(--theme-color1);
  border-radius: 30px;
  color: var(--theme-color1-text-color);
  display: inline-flex;
  font-weight: 700;
  height: 56px;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  transition: all 400ms ease;
  z-index: 0;
}
.btn-style5 .left-arrow {
  left: 7px;
  transform: scale(0);
}
.btn-style5 .btn-title {
  color: var(--theme-color2);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 0px 70px 0 26px;
  text-transform: uppercase;
  transition: all 400ms ease;
}
.btn-style5 .left-arrow,
.btn-style5 .right-arrow {
  background-color: var(--theme-color2);
  border-radius: 50%;
  color: var(--theme-color2-text-color);
  font-size: 10px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  width: 40px;
  transition: all 400ms ease;
}
.btn-style5 .right-arrow {
  left: auto;
  right: 7px;
  transform: scale(1);
}
.btn-style5:hover .left-arrow {
  transform: scale(1);
}
.btn-style5:hover .btn-title {
  transform: translateX(37px);
}
.btn-style5:hover .right-arrow {
  transform: scale(0);
}